<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta
    name="description"
    content="Responsive Web UI Kit &amp; Dashboard Template based on Bootstrap"
  />
  <meta name="author" content="AdminKit" />
  <meta
    name="keywords"
    content="adminkit, bootstrap, web ui kit, dashboard template, admin template"
  />

  <link rel="shortcut icon" href="/img/icons/icon-48x48.png" />

  <title></title>
  <link href="/css/app.css" rel="stylesheet" />
  <link
    rel="stylesheet"
    type="text/css"
    href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css"
  />
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
    rel="stylesheet"
  />
  <link href="/css/styles.css" rel="stylesheet" />
</head>
