<nav id="sidebar" class="sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="/Dashboard">
      <span class="align-middle">SHOP POS</span>
    </a>

    <ul class="sidebar-nav">
      <li class="sidebar-item active">
        <a class="sidebar-link" href="/Dashboard">
          <i class="align-middle" data-feather="sliders"></i>
          <span class="align-middle">Dashboard</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="/Sales">
          <i class="align-middle" data-feather="shopping-cart"></i>
          <span class="align-middle">Sales</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a
          href="#category"
          data-toggle="collapse"
          class="sidebar-link collapsed"
        >
          <i class="align-middle" data-feather="briefcase"></i>
          <span class="align-middle">Category</span>
        </a>
        <ul
          id="category"
          class="sidebar-dropdown list-unstyled collapse"
          data-parent="#sidebar"
        >
          <li class="sidebar-item">
            <a class="sidebar-link" href="/Categories/New">New Category</a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="/Categories">List</a>
          </li>
        </ul>
      </li>
      <li class="sidebar-item">
        <a
          href="#customer"
          data-toggle="collapse"
          class="sidebar-link collapsed"
        >
          <i class="align-middle" data-feather="users"></i>
          <span class="align-middle">Customers</span>
        </a>
        <ul
          id="customer"
          class="sidebar-dropdown list-unstyled collapse"
          data-parent="#sidebar"
        >
          <li class="sidebar-item">
            <a class="sidebar-link" href="/Customers/New">Add Customer</a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="/Customers">List</a>
          </li>
        </ul>
      </li>
      <li class="sidebar-item">
        <a href="#store" data-toggle="collapse" class="sidebar-link collapsed">
          <i class="align-middle" data-feather="home"></i>
          <span class="align-middle">Store</span>
        </a>
        <ul
          id="store"
          class="sidebar-dropdown list-unstyled collapse"
          data-parent="#sidebar"
        >
          <li class="sidebar-item">
            <a class="sidebar-link" href="/Stores/New">Create Store</a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="/Stores">List</a>
          </li>
        </ul>
      </li>
      <li class="sidebar-item">
        <a
          href="#product"
          data-toggle="collapse"
          class="sidebar-link collapsed"
        >
          <i class="align-middle" data-feather="tag"></i>
          <span class="align-middle">Product</span>
        </a>
        <ul
          id="product"
          class="sidebar-dropdown list-unstyled collapse"
          data-parent="#sidebar"
        >
          <li class="sidebar-item">
            <a class="sidebar-link" href="/Products/New">New Product</a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="/Products">List</a>
          </li>
        </ul>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="/History">
          <i class="fas fa-fw fa-history"></i>
          <span class="align-middle">Histroy</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
