<div id="mesages">
  <% Object.keys(messages).forEach(function(type){ %>
  <%messages[type].forEach(function (message){ %>
  <div class="alert alert-<%=type%>" role="alert">
    <div class="alert-message"><strong><%= message %></strong></div>
  </div>
  <% }) %> <% })%>
</div>
